# Soru 1

In [16]:
# Verilen string ifadenin tüm harflerini büyük harfe çeviriniz. Virgül ve nokta yerine space koyunuz,
#kelime kelime ayırınız.


text = "The goal is to turn data into information  and information into insight"

In [19]:
text = text.upper()
text = text.split()
print(text)

['THE', 'GOAL', 'IS', 'TO', 'TURN', 'DATA', 'INTO', 'INFORMATION', 'AND', 'INFORMATION', 'INTO', 'INSIGHT']

# Soru 2

In [100]:
# Verilen listeye aşağıdaki adımları uygulayınız.
#Adım 1: Verilen listenin eleman sayısına bakınız.
#Adım 2: Sıfırıncı ve onuncu indeksteki elemanları çağırınız.
#Adım 3: Verilen liste üzerinden ["D", "A", "T", "A"] listesi oluşturunuz.
#Adım 4: Sekizinci indeksteki elemanı siliniz.
#Adım 5: Yeni bir eleman ekleyiniz.
#Adım 6: Sekizinci indekse "N" elemanını tekrar ekleyiniz.

liste = ["D","A","T","A","S","C","I","E","N","C","E"]

In [101]:
len(liste)

11

In [102]:
print(liste[0])
print(liste[10])

D
E

In [103]:
new_list = liste[0:4]
print(new_list)

['D', 'A', 'T', 'A']

In [104]:
liste.pop(8)
print(liste)

['D', 'A', 'T', 'A', 'S', 'C', 'I', 'E', 'C', 'E']

In [105]:
liste.append("Fehmi")
print(liste)

['D', 'A', 'T', 'A', 'S', 'C', 'I', 'E', 'C', 'E', 'Fehmi']

In [106]:
liste.insert(8,"N")
print(liste)

['D', 'A', 'T', 'A', 'S', 'C', 'I', 'E', 'N', 'C', 'E', 'Fehmi']

# Soru 3

In [107]:
# Verilen sözlük yapısına aşağıdaki adımları uygulayınız.
#Adım 1: Key değerlerine erişiniz.
#Adım 2: Value'lara erişiniz.
#Adım 3: Daisy key'ine ait 12 değerini 13 olarak güncelleyiniz.
#Adım 4: Key değeri Ahmet value değeri [Turkey,24] olan yeni bir değer ekleyiniz.
#Adım 5: Antonio'yu dictionary'den siliniz.

In [108]:
dict = {"Christian" : ["America",18],
        "Daisy" : ["England",12],
        "Antonio" : ["Spain",22],
        "Dante" : ["Italy",25],
       }

In [109]:
dict.keys()

dict_keys(['Christian', 'Daisy', 'Antonio', 'Dante'])

In [110]:
dict.values()

dict_values([['America', 18], ['England', 12], ['Spain', 22], ['Italy', 25]])

In [111]:
dict.update({"Daisy" : ["England",13]})
print(dict)

{'Christian': ['America', 18], 'Daisy': ['England', 13], 'Antonio': ['Spain', 22], 'Dante': ['Italy', 25]}

In [112]:
dict["Ahmet"] = ["Turkey",24]
print(dict)

{'Christian': ['America', 18], 'Daisy': ['England', 13], 'Antonio': ['Spain', 22], 'Dante': ['Italy', 25], 'Ahmet': ['Turkey', 24]}

In [113]:
dict.pop("Antonio")
print(dict)

{'Christian': ['America', 18], 'Daisy': ['England', 13], 'Dante': ['Italy', 25], 'Ahmet': ['Turkey', 24]}

# Soru 4

In [ ]:
# Argüman olarak bir liste alan, listenin içerisindeki tek ve çift sayıları ayrı listelere atayan ve bu listeleri
#return eden fonksiyon yazınız.

In [207]:
liste1 = [2,13,18,93,22]
tek_liste = []
cift_liste = []

In [208]:
def ayir(liste):
    
    for i in liste:
        if i % 2 == 0:
            cift_liste.append(i)
        else:
            tek_liste.append(i)
    return cift_liste ,tek_liste

In [209]:
ayir(liste1)
print(tek_liste)
print(cift_liste)

[13, 93]
[2, 18, 22]

# Soru 5

In [ ]:
# Aşağıda verilen listede mühendislik ve tıp fakülterinde dereceye giren öğrencilerin isimleri
#bulunmaktadır. Sırasıyla ilk üç öğrenci mühendislik fakültesinin başarı sırasını temsil ederken son üç öğrenci de
#tıp fakültesi öğrenci sırasına aittir. Enumarate kullanarak öğrenci derecelerini fakülte özelinde yazdırınız.

In [213]:
ogrenciler = ["Ali","Veli","Ayşe","Talat","Zeynep","Ece"]

In [217]:
for i,j in enumerate(ogrenciler):
    if i<3:
        i+=1
        print("Mühendislik Fakültesinin",i,". öğrencisi",j)
    else:
        i -= 2
        print("Tıp Fakültesinin",i,". öğrencisi",j)

Mühendislik Fakültesinin 1 . öğrencisi Ali
Mühendislik Fakültesinin 2 . öğrencisi Veli
Mühendislik Fakültesinin 3 . öğrencisi Ayşe
Tıp Fakültesinin 1 . öğrencisi Talat
Tıp Fakültesinin 2 . öğrencisi Zeynep
Tıp Fakültesinin 3 . öğrencisi Ece

# Soru 6

In [218]:
#Aşağıda 3 adet liste verilmiştir. Listelerde sırası ile bir dersin kodu, kredisi ve kontenjan bilgileri yer
#almaktadır. Zip kullanarak ders bilgilerini bastırınız.

In [229]:
kredi = [3,4,2,4]
ders_kodu = ["CHM1005","PSY1001","HUK1005","SEN2204"]
kontenjan = [30,75,150,25]

In [230]:
for kredi,ders_kodu,kontenjan in  zip(kredi,ders_kodu,kontenjan):
    print("Kredisi {} olan {} kodlu dersin kontenjanı {} kişidir.".format(kredi,ders_kodu,kontenjan))

Kredisi 3 olan CHM1005 kodlu dersin kontenjanı 30 kişidir.
Kredisi 4 olan PSY1001 kodlu dersin kontenjanı 75 kişidir.
Kredisi 2 olan HUK1005 kodlu dersin kontenjanı 150 kişidir.
Kredisi 4 olan SEN2204 kodlu dersin kontenjanı 25 kişidir.

# Soru 7

In [235]:
#Aşağıda 2 adet set verilmiştir. Sizden istenilen eğer 1. küme 2. kümeyi kapsiyor ise ortak elemanlarını
#eğer kapsamıyor ise 2. kümenin 1. kümeden farkını yazdıracak fonksiyonu tanımlamanız beklenmektedir.

In [241]:
kume1 = set(["data", "python"])
kume2 = set(["data", "function", "qcut", "lambda", "python", "miuul"])

In [243]:
def cluster(a,b):
    if a.issuperset(b):
        print(a.intersection(b))
    else:
        print(b.difference(a))

In [244]:
cluster(kume1,kume2)

{'lambda', 'function', 'qcut', 'miuul'}